.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  border-radius: 10px;
}

.home-content-container {
  display: flex;
  align-items: center;
  padding: 10px 10px 60px 10px;
}

.home-content-container h1 {
  width: 260px;
  font-size: 1em;
  color: #fff;
}

.home-content-container p {
  margin-top: 15px;
  width: 260px;
  font-size: 0.6em;
  color: #fff;
  margin-bottom: 30px;
}

.home-image-container {
  padding: 50px 15px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}
